<div class="about-desktop-container">
  <div class="tiles-banner"></div>
  <div class="about-content">
    <h1 class="main-heading">About Me</h1>
    <p class="sub-heading">Life & times of Yash</p>
    <div class="small-border-bottom"></div>
    <p class="about-paragraphs">
      Thank you once again for coming to my site. I really appreciate having your eyes on this webpage. I am a 20 year old Entrepreneur, Developer and Designer who currently works at a start up called Stanza. So I do not think I am old enough to have a 'life and times ...' written about me. I am someone who loves to learn new concepts and solve challenging problems. When I say problems, I am not just speaking as a developer, I enjoy solving UI/UX problems as well. One of my major goals is to build a product, that will in some way make other peoples' lives easier, and at the same time have a very clean and unique UI, which has not been used elsewhere. Keep reading to learn more about me and see what made me who I am today.
    </p>
    <h1 class="sub-main-heading">Early Life</h1>
    <p class="sub-heading">Started from the bottom - now we here</p>
    <div class="small-border-bottom"></div>
    <div class="relative">
      <p class="about-paragraphs half-width no-padding-bottom">
        Well... I didn't exactly start of at the bottom, or at least my parents did not make it feel that way. However my mom and dad did start of at the very bottom. They were born in the rural villages of India (the 3rd world of a 3rd world country). After 50 or so years, they are both doctors in a first world country. I got to witness a part of their journey, and till this day, they remind me of what the 'real bottom' actually is. I was always taught to live my one life to the fullest.
      </p>
      <p class="about-paragraphs no-padding-top">
        Oddly enough, I was born in Saudi Arabia, and lived there for 10 years. It was a little weird growing up there as a kid, since their culture is pretty conservative. After spending 10, very bad, years in Saudi, I moved to Canada. Canada was and still is an amazing place to live. I spent my middle school and high school years there. It is a very mulitcultural place, which introduced me to people from all over the world. My younger years in Canada were well spent. School was super easy, compared to Saudi, and I picked up a lot of sports. However after high school things got intersting, as my carrer choice changed all together.
      </p>
      <div class="stroller-animation-canvas">
        <img src="https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/baby-carraige.png" class="stroller-body">
        <img src="https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/carraige-wheel-thin.png" class="stroller-wheel one rotating-infinite-1s">
        <img src="https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/carraige-wheel-thin.png" class="stroller-wheel two rotating-infinite-1s">
      </div>
    </div>
    <h1 class="sub-main-heading">So What Happened?</h1>
    <p class="sub-heading">Currently living in heaven</p>
    <div class="small-border-bottom"></div>
    <div class="relative">
      <p class="about-paragraphs half-width no-padding-bottom">
        I ended up dropping everything and flew out to California to become an engineer. It was pretty hectic, but it worked out exactly how I wanted it to. During my senior year in high school I applied to Trinity College's 6 year medschool program in Bahrain. I got accepted, and they gave me 2 years to make my final decision, thank god. So I decided to do a year of school in Canada. I ended up going to Wilfrid Laurier for health sciences. Laurier was a lot of fun, and it also opened my eyes to the fact that, I do not want to pursue medicine. After 3 semesters, I decided to take a year off. I flew out to Palo Alto, and crashed on my sister's couch, doing web development courses. I ended up doing an internship at Stanza, which changed my life.
      </p>
      <p class="about-paragraphs no-padding-top">
        I joined Stanza as a junior developer, and now I am the lead front-end engineer, who can write server side code as well. I have built numerous products that are being used by millions of users. I gained product sense, and stopped thinking of code, instead I thought of the end user. I introduced Angular to our code base, resulting in me rebuilding/restructuring the entire front-end from scratch. We are currently still in the process of cleaning up. I am working on several side projects, working with differecnt technologies. I am working my way towards low-level languages C, C#, C++, Objective-C and java. California is my favorite place on Earth. I know that I am going to eventually settle down here. You can literally drive maximum 3 hours in any direction, and hit a gorgeous beach. The food is really good, the tech scene is crazy and it does not snow in the winter.
      </p>
      <div class="map-animation-canvas">
        <img src="https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/usa-map.png" class="map">
        <div class="canada"></div>
        <div class="california"></div>
        <div class="flight-path-container" ng-class="{'add-width': (movePlaneNow), 'hide-line': (hideElements)}">
          <span class="icon-plane plane" ng-class="{'move-plane': (movePlaneNow), 'hide-plane': (hideElements)}"></span>
          <div class="flight-path"></div>
        </div>
      </div>
    </div>
  </div>
</div>
