<div class="contact-container">
  <div class="banner">
  	    <div ng-repeat="square in clearSquares | limitTo: 250" style="left:{{square.left}}px; top:{{square.top}}px;" class="clear-banner-squares"></div>
  	<div class="full-name">
  		<h1>Yash Saxena</h1>
  		<p>Lead Front-end Engineer at Stanza.co</p>
  	</div>	
  	<div class="contact-profile-picture"></div>
  </div>
  <div class="contact-content">
  	<p><span class="pink">yash</span><span>.</span><span class="blue">saxena</span><span><span class="pink">1217</span><span class="blue">@gmail.com</span></span></p>
  	<div class="mini-line work-background-gradient"></div>
  	<p><span class="blue">(650)</span> <span class="pink">305</span> <span class="blue">9260</span></p>
  </div>
</div>
