<ion-content scroll='false'>
  <div class="skills-heading-container">
    <h1>Skills & Abilities</h1>
  </div>
  <div class="tabs-container">
    <ul>
      <li class="icon-code transition-long" ng-click="setActiveSkill(1)" ng-class="{'active':(activeSkill === 1)}"></li>
      <li class="icon-designmoo transition-long" ng-click="setActiveSkill(2)" ng-class="{'active':(activeSkill === 2)}"></li>
<!--       <li class="icon-briefcase-case transition-long" ng-click="setActiveSkill(3)" ng-class="{'active':(activeSkill === 3)}"></li> -->
    </ul>
    <h1 class="current-skill-heading">{{skillsHeading}}</h1>
  </div>
  <div class="graph-container">
    <ion-scroll direction='y' style="color:white; margin-bottom:50px;">
      <div style="margin-top:30px">
        <div class="code-skill" ng-repeat="skill in codeSkills" ng-show="activeSkill === 1">
          <div style="background:url({{skill.logo}})" class="skill-icon code">
          	<div class="icon-gradient"></div>
          </div>
          <span class="code-skill-name">{{skill.name}}</span>
          <div class="skill-level code" style="width: {{skill.level}}%" ng-class="{'no-width': (noWidth)}"></div>
        </div>
      </div>
      <div class="code-skill" ng-repeat="skill in designSkills" ng-show="activeSkill === 2">
        <div style="background:url({{skill.logo}})" class="skill-icon">
        	<div class="icon-gradient"></div>
        </div>
        <span class="code-skill-name">{{skill.name}}</span>
        <div class="skill-level design" style="width: {{skill.level}}%" ng-class="{'no-width': (noWidth)}"></div>
      </div>
  </div>
  </ion-scroll>
  </div>
</ion-content>
