<span class="ion-ios-telephone swipe-direction-icons right" ng-class="{'activate-icon':(activatedIcon === 'four')}">
	<span ng-class="{'showInstructions':(activatedIcon === 'four')}">
		Contact Me Swipe Right
		<span class="ion-ios-arrow-right" ng-class="{'showInstructions':(activatedIcon === 'four')}"></span>
	</span> 
</span>
<span class="ion-ios-person swipe-direction-icons left" ng-class="{'activate-icon':(activatedIcon === 'two')}" style="opacity:1 !important;">
	<span ng-class="{'showInstructions':(activatedIcon === 'two')}">
		About Me Swipe Left
		<span class="ion-ios-arrow-left" ng-class="{'showInstructions':(activatedIcon === 'two')}"></span>
	</span>
</span>
<div id="landing-slide-container">
	<h3>Welcome to</h3>
	<h1>Yash's</h1>
	<div id="earth"></div>	
</div>
