<ion-content delegate-handle="professionalThreeScroll" on-scroll="professionalThreeScrolling()" id="professional-3-slides">
	<div id="images-heading-one" class="professional-image-headings">
		<h3 id="images-main-heading">THE FLOW</h3>
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">1</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Click it!"</h3>
		<div class="vertical-line"></div>
	</div>
	<div id="image-container-one" class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/stanford-cal-button.png">
		<p class="professional-paragraphs">
			This is our button on the Stanford website. We have no say on how they choose to place it on their site. We provide them with a script tag and an a tag. They can place it where ever they want. (They usually end up picking the worst spots...)
		</p>
	</div>
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">2</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Choose a Category!"</h3>
		<div class="vertical-line"></div>
	</div>	
	<div class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/categories-select-desktop.png">	
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/button-categories.png" class="mobile-images">
		<p class="professional-paragraphs">
			Once the button is clicked, the popup opens. You can see the mobile and web view of this above. On this screen, the user is asked to choose a category that they would like to download.
		</p>
	</div>	
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">3</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Choose a Calendar!"</h3>
		<div class="vertical-line"></div>
	</div>	
	<div class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/choose-cal-desktop.png">	
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/button-choose.png" class="mobile-images">
		<p class="professional-paragraphs">
			After a category has been selected, the user is asked to choose what calendar they would like to download it to. They will be asked to authenticate if they choose google or exchange. ICAL directly adds the events to your mobile calendar. The desktop version has big tiles that have a transparency hover effect which lowers their opacity with a suttle 0.3s transition. The user can click the back button in the navbar, if they choose the wrong category. Whenever you switch routes, the page does not refresh, only the states change, giving it a native feel.
		</p>
	</div>	
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">4</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"That's it!"</h3>
		<div class="vertical-line"></div>
	</div>	
	<div class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/final-stage-desktop.png">	
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/button-final.png" class="mobile-images">
		<p class="professional-paragraphs">
			And that't it! Once a calendar is chosen, the events are automatically added. The user is shown a confirmation screen letting them know that everything went as planned. We also show them recomendations, and allow them to share this category on social media.
		</p>
	</div>	
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<h3 class="stage-heading">Conclusion</h3>
		<div class="vertical-line"></div>
	</div>
	<div class="professional-image-container">
		<p class="professional-paragraphs">
		I was glad that I got the opportunity to build this button popup. When I built this, I built two versions for AB testing. Having done this I learned how to implement AB testing using UI router and sub routes. This popup has been tested on every browser, ever screen size and on both IOS and Android devices. It works consitently. It is nice to have built this, as it is being used by millions of people. 
		</p>
		<p class="professional-paragraphs shimmer" style="min-width:100px !important">
			Swipe left to see the dashboard I built for SpotON.
		</p>
	</div>			
</ion-content>

<!-- <img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/button-categories.png"> -->