<ion-header-bar class="bar-subheader item-input-inset" id="work-mobile-header" ng-class="{'banner-height-removed':(lowerHeight === 'true')}">
	<img src="https://s3.amazonaws.com/uploads.hipchat.com/27243/752569/yDX2zhgJYbiBHjq/large_button.png">
	<h3 class="scroll-side-text" ng-class="{'show-side-text':(lowerHeight === 'true')}">BUTTON</h3>
</ion-header-bar>
<ion-content delegate-handle="professionalTwoScroll" on-scroll="professionalTwoScrolling()" class="professional-slides" ng-class="{'content-height-removed':(lowerHeight === 'true')}">
	<h1 id="button-heading">"Add to Calendar"</h1>
	<div id="total-downloads-container">
		<h1>52,963,169</h1>
		<p>Total event downloads</p>
	</div>

	<p class="professional-paragraphs"> This is the button that is responsible for all our success. Our powerful business development team has used this button to get all our major clients. The first big client was Stanford University. They added this button to their sports schedule page. Once we got Stanford, it was easy to get a lot of other NCAA divison 1 - 3 teams to sign up. After conquring NCAA, we moved towards the NFL. We ended up getting almost every team to add the button to their schedules page. After NFL we moved to NBA and then to NHL. The beauty of this button is that, it doesn't just add the events to your calendar, it auto syncs when the event details have changed, for example, if a game gets rained out, you will be notified.</p>

	<p class="professional-paragraphs">I did not build the button iframe that the teams add to their site, I built the button popup which opens up when the button is clicked. Google analytics showed us that the majority of the button clicks were coming from mobile devices. Therefore I built the popup mobile first. I did not use bootstrap or foundation. I used media queries. I built the button using Angular. For the templating I choose to use UI router, insted of the the default angular router. It made the flow fast and zippy. Allowing users to toggle back and choose different categories.</p>

	<p class="professional-paragraphs">
		It took me 2 weeks to build this popup. Two versions were made for AB testing. The last week was spent user testing.
	</p>
	<p class="professional-paragraphs shimmer" style="min-width:100px !important">
		Swipe left to see images of the button popup
	</p>
</ion-content>
