<ion-content delegate-handle="professionalThreeScroll" on-scroll="professionalThreeScrolling()" id="professional-3-slides">
	<div id="images-heading-one" class="professional-image-headings">
		<h3 id="images-main-heading">THE DASHBOARD</h3>
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">1</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Event's Tab"</h3>
		<div class="vertical-line"></div>
	</div>
	<div id="image-container-one" class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/events-tab" class="box-shadow">
		<p class="professional-paragraphs space-below">
			This is the tab that the users see when they first log in. This tab allows them to see, edit and delete their current events. This makes it very convenient for them to be able to push new events and edit their current events in their users' calendars.
		</p>
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/add-event-field" class="box-shadow">
		<p class="professional-paragraphs space-below">The field above is what is used to add an event. All the user has to do is fill in a sentence that has the events title, start time and duration. We parse that sentence into date objects and a title. Making it quick and easy for the user to create new events. An example would be. 'Party next week at 2pm for 4 hours.'</p>
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/edit-event-form" class="box-shadow">
		<p class="professional-paragraphs space-below">This is form the user sees after clicking clicking 'Create Event' on the previous form. This form allows the users to pick a start date, start time, end date, end time, description, title, category and it allows them to drop links, such as ticketmaster links which allow people to go and buy tickets to a particular event. This form is also used to edit events. It pops up when an event on the event tab is clicked.</p>
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/delete-event-field" class="box-shadow">
		<p class="professional-paragraphs">I also built in the feature to delete events. A user can click on the check boxes beside the events, to add events to the trash can. When they click on the trash, they see this overlay pop up. Which lets them know how many events are in the bin, and weather or not they want to delete them.</p>
	</div>
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">2</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Embed Tab"</h3>
		<div class="vertical-line"></div>
	</div>	
	<div class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/button-tab" class="box-shadow">	
		<p class="professional-paragraphs space-below">
			The embed tab allows users to get the code needed to embed their button on their site or facebook page. They can choose to show the ticker, which shows how many downloads their button has. Once they click 'Build it!', we show them the code that they need to add to their site. It is a simple 'a' tag with our custom href.
		</p>
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/email-embed" class="box-shadow">	
		<p class="professional-paragraphs space-below">
			The 'email embed' tab lets them see the code that they need to use to embed the button in an email.
		</p>
	</div>	
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">3</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Account Settings"</h3>
		<div class="vertical-line"></div>
	</div>	
	<div class="professional-image-container">
		<img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/account-tab" class="box-shadow">	
		<p class="professional-paragraphs space-below">
			This tab allows the user to edit their calendar name and their banner image. The banner image is also the background image of their button popup.
		</p>
	</div>	
	<div class="professional-image-headings">
		<div class="vertical-line"></div>
		<div class="connect-stage-circle">4</div>
		<div class="vertical-line"></div>
		<h3 class="stage-heading">"Conclusion"</h3>
		<div class="vertical-line"></div>
	</div>	
	<div class="professional-image-container">
		<p class="professional-paragraphs">
			While building this dashboard I learned how to write clean and scalable code that any one can read. I dealt with a lot of new things on the server side as well. In my opinion the highest priority was the speed and user experience. Simple things like being able to delete multiple events, being able to add an event by just typing in a sentence, and at the same time, making it visually pleasing. All our users said that they love the new dashboard. We are currently still working on the moible version. I did not use media queries to make the mobile version, because we decided to have a different, simpler design/user interface for the mobile version. This was one of my biggest projects at SpotOn. I spent a month building it, and till this day we are working on enhancing it, by adding  more functionality.
		</p>
	</div>	
</ion-content>

<!-- <img src="http://dff2h0hbfv6w4.cloudfront.net/images/other/button-categories.png"> -->