<!-- v1.html - styled using - content.css -->
<redirect-resize>
  <div class="global-background"></div>
  <div class="loading-desktop all-directions-opacity-long" ng-class="{'done-loading':(doneLoading), 'hide':(doneLoadingHide)}">
    <div class="heading">
      <h1 class="all-directions-opacity-medium" ng-class="{'show-heading': (showIntroHeading)}">{{introText}}</h1>
    </div>
    <div class="visit-count all-directions-opacity-long" ng-class="{'show-visit-count':(showVisitCount)}">
      12,123,123
    </div>
    <div class="loading-bar">
      <div ng-class="{'loading-now': (loading)}"></div>
    </div>
  </div>
    <!-- Landing Page -->
  <div ng-include="'/views/v1/desktop/home.html'" ng-controller="HomeController" ng-class="{'hide-home-screen':(hideHomePage)}" class="home-screen-container"></div>

  <!-- Desktop -->
  <div ui-view="nav" class="desktop-nav"></div>
  <div ui-view="content" class="content-container-desktop"></div>

  <!-- Mobile View -->
  <div id="mobile-container" ng-class="{'zoom-in':(zoomIn === 'true')}">
    <ion-tabs class="tabs-icon-top no-animation" animation="no-animation">
      <ion-tab title="Landing" icon="icon ion-social-buffer" href="#/tab/landing-mobile">
        <ion-nav-view name="landing"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Work" icon="icon ion-headphone" href="#/tab/work-mobile">
        <ion-nav-view name="work"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Entertainment" icon="icon ion-clipboard" href="#/tab/entertainment-mobile">
        <ion-nav-view name="entertainment"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </div>
</redirect-resize>
