<div id="personal-tile" class="all-work-landing-tiles">
	<span class="icon-briefcase briefcase left-briefcase"></span>
	<span class="slide-heading left-text">Wo</span>
	<h1>
		<span>Swipe Right</span>
		Personal Projects
	</h1>
	<span class="ion-ios-arrow-right work-landing-arrows right-arrow"></span>
</div>
<div id="professional-tile" class="all-work-landing-tiles">
	<span class="icon-briefcase briefcase right-briefcase"></span>
	<span class="slide-heading right-text">rK</span>
	<h1>
		Professional Work
		<span>Swipe Left</span>
	</h1>
	<span class="ion-ios-arrow-left work-landing-arrows left-arrow"></span>
</div>
